{% extends 'base.html.twig' %}

{% block title %} Calendar {% endblock %}

{% block body %}
    <div id="calendar"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('../assets/js/calendar.js') }}"></script>
{% endblock %}
