{% extends "base.html.twig" %}
{% block body %}
	<h2>{{ counter.name }}</h2>

	<ul>
		{% for counterHistory in counter.counterHistories %}
		<li>
			<input type="text" class="datepicker" value="{{ counterHistory.createdAt|date("H:i m-d-Y") }}">
			
		</li>
		{% endfor %}
	</ul>
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		jQuery('.datepicker').datepicker();
	</script>
{% endblock %}
