
body {
	background-color: #1D2228;
	color: #E1E2E2;
}

.row {
	margin: 10px -15px;

}

div.row > div {
	display: flex;
	align-items: center;
}

a {
	color: #FB8122;
}

.btn-danger,
.btn-default {
	background-color: #FB8122; 
	border-color: #FB8122;
	color: #E1E2E2;
}


.navbar-collapse li {
	border-bottom: 1px solid #FB8122;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
	color: #E1E2E2;
}

.navbar-light .navbar-toggler {
	color: #E1E2E2;
	padding: 0;
	font-size: 30px;
}

.excercise.row,
.workout.row {
	border-bottom: 1px solid #FB8122;
	padding: 7px 0px;
} 

.excercise.row .btn,
.workout.row .btn {
	padding: 2px;
}

a.nav-add-workout:hover,
a.nav-add-workout:active,
a.nav-add-workout {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.nav-add-workout i.fas {
	font-size: 20px;
	margin-right: 5px;
}

.shake {
	animation: shake 0.25s; 
}

@keyframes shake {
	0% { transform: translateY(0px, 0px); }
	25% { transform: translate(0px, -3px); }
	75% { transform: translate(0px, 3px); }
	100% { transform: translate(0px, 0px); }
}

@media (min-width: 768px) {
	nav.navbar {
		background-color: #FB8122;
		color: #1D2228;
		display: flex;
	}

	nav .navbar-nav {
		flex-direction: row;
		justify-content: flex-end;
	}

	nav .collapse {
		display: inline;
		flex-basis: auto;
		flex-grow: 0;
	}
		
	nav .navbar-toggler {
		display: none;
	}

	nav .navbar-light .navbar-nav .nav-link {
		color: rgba(0,0,0,.8); 
	}

	.navbar-collapse li {
		margin: 0 20px;
	}

	.navbar-light .navbar-nav .nav-link,
	.navbar-light .navbar-brand {
		color: #1D2228;
	}

	a.nav-add-workout:hover, 
	a.nav-add-workout:active, 
	a.nav-add-workout {
		color: #1D2228;
	}
}

@media (max-width: 768px) {
	.form-element {
		margin: 5px auto;
		padding: 0 7px;
	}

	.btn {
		width: 100%;
	}
}
