{% extends "base.html.twig" %}
{% block body %}
    <div id="note_form" class="col-12"></div>
    <h1>Notes list</h1>
    <div id="note_list"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/babel" src="{{ asset('../assets/js/note/add_form.js') }}"></script>
    <script type="text/babel" src="{{ asset('../assets/js/note/list.js') }}"></script>
    <script type="text/babel">
        let noteList = ReactDOM.render(<NoteList />, document.getElementById('note_list'));
        ReactDOM.render(<NoteAddForm note_list={noteList} />, document.getElementById('note_form'));
    </script>
{% endblock %}