{% extends "base.html.twig" %}
{% block body %}
	{% for note in notes %}
		<div class="row mb-2">
			<div class="col-10">
				<input class="w-100" type="text" name="" id="" value="{{ note.text }}">
			</div>
			<div class="col-2">
				{{ note.createdAt|date("H:i m-d-Y") }}
			</div>
		</div>
	{% endfor %}
{% endblock  %}