{% extends "base.html.twig" %}
{% block body %}
    <h1>Workout list</h1>
    <div id="workout_list" class="col-12">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('../assets/js/workout/list.js') }}"></script>
    <script type="text/babel">
        ReactDOM.render(<WorkoutList />, document.getElementById('react-test'));
    </script>
{% endblock %}